*{color: white;}
.box{
    width:40%;
    height: auto;
    margin: auto;
    margin-top: 20px;
}
.box-container{
    width:90%;
    height: auto;
}
.header{
    width: 80%;
    background-color: rgb(24, 22, 22);
    margin: auto;
    box-sizing: border-box;
    box-shadow: 0px 0px 5px 8px rgb(29, 27, 27);
}
.conteudo{
    width: 80%;
    background-color: rgb(177, 107, 107);
    margin: auto;
    padding: 5px 10px;
    box-sizing: border-box;
    box-shadow: 0px 2px 5px 8px rgb(29, 27, 27);
}
.set{
    display: flex;
    justify-content: flex-end;
    padding-top: 5px;
}

.grupo{
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}
.numeros{
    width: 60%;
    margin-left: 2px;
}
.btn{
    width: 60px;
    height: 40px;
    margin:2px 2px 10px 2px;
    padding: 3px;
    border-color: rgb(58, 54, 54);
    color: white;
    background-color: rgb(14, 12, 12);
}
.operadores{
    display: flex;
    flex-direction: column;
}.btn-set{
    width: 40px;
    background-color: tomato;
    border-color: rgb(160, 55, 55);
}
input{
    text-align: right;
    font-size: 19px;
    background-color: black;
    width: 98%;
    height: 30px;
    border:1px solid rgb(114, 106, 106);
    outline: none;
}